<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/about.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
  	<img src="../assets/profile.jpg" width="350px" height="350px"/>
  	<p>Sometimes more is better.</p>



    <section id="about-container">
      <section>
        <ul>
          <li>
            <a href="mailto:dengraymond99@gmail.com" target="_blank">email</a>
            <a href="" target="_blank">resume</a>
            <a href="https://github.com/raymonddeng99" target="_blank">github</a>
            <a href="https://linkedin.com/in/raymonddeng99" target="_blank">linkedin</a>
          </li>
        </ul>
      </section>

      <section>
        <p>I'm a software engineer and UCSB alum (class of 2021).</p>
      </section>

      <section>
        <details>
          <summary><h2>Research Interests</h2></summary>
          <ul>
            <li>
              Distributed data stores for modern internet services.
            </li>
            <li>
              Type theory and object oriented programming.
            </li>
            <li>
              Systems infrastructure for machine learning and deep learning.
            </li>
            <li>
              Pho, ramen, and other soup-based noodles 🍜
            </li>
          </ul>
        </details>
      </section>

      <section>
        <p>This template was made by <a href="https://github.com/ParkSB/handmade-blog" target="_blank">Park Seong-beom</a>.</p>
      </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
